<h1>Test for {{topic.topicID || "Loading"}}</h1>
<h2>Concept : {{topic.concepts[currentConcept].conceptID}}</h2>
<h3> Question {{currentIndex+1}} out of {{questionsCount}}</h3>
<p>
 Description : {{topic.concepts[currentConcept].questions[currentQuestion] || topic.concepts[currentConcept].questions[currentQuestion].questionID}}
</p>
 <br/>
 <form #questionForm="ngForm" (ngSubmit)="onFormSubmit(questionForm)" >
 <input type="radio" name ="selectedOption" value="a" [(ngModel)]="selectedOption"> A<br/>
 <input type="radio" name ="selectedOption" value="b" [(ngModel)]="selectedOption"> B<br/>
 <input type="radio" name ="selectedOption" value="c" [(ngModel)]="selectedOption"> C<br/>
 <input type="radio" name ="selectedOption" value="d" [(ngModel)]="selectedOption"> D<br/>
 <br/>
 <button (click)="getPreviousQuestion(questionForm)">Previous</button>
 <button (click)="getNextQuestion(questionForm)">Next</button>
 <button (click)="submitAnswers()">Submit</button>
</form>


